<div class="left-aside">
    <div class="logoBox"> <a href="http://localhost:3000/"><img src="/images/admin_img/logo.svg" alt=""></a></div>
    <div class="userBox">
      <a href="http://localhost:3000/"><img src="/images/admin_img/adminuser.svg" alt=""></a>
      <p>Hello! 小食界管理員</p>
    </div>
    <p>後台管理系統</p>
    <ul class="asideList">
      <li>
        <img src="/images/admin_img/side1.svg" alt="">
        <a id="productBtn" href="">商品管理</a>
        <img src="/images/admin_img/arrow-right.svg" alt="">
        <ul class="smallList " id="productList">
          <li id="li-productList1"> <a id="a-productList1" href="http://localhost:3000/admin/dashboard/productlist">商品列表</a></li>
          <li id="li-productList2"><a id="a-productList2" href="http://localhost:3000/admin/dashboard/addproduct">新增商品</a></li>
        </ul>

      </li>


      <li>
        <img src="/images/admin_img/side2.svg" alt="">
        <a id="orderBtn" href="">訂單管理</a>
        <img src="/images/admin_img/arrow-right.svg" alt="">
        <ul class="smallList" id="orderList">
          <li id="li-orderList1"><a id="a-orderList1" href="http://localhost:3000/admin/dashboard/orderlist">一般訂單</a></li>
          <li id="li-orderList2"><a id="a-orderList2" href="http://localhost:3000/admin/dashboard/suborderlist">訂閱制訂單</a></li>
        </ul>
      </li>

      <li>
        <img src="/images/admin_img/side3.svg" alt="">
        <a id="memberBtn" href="">會員管理</a>
        <img src="/images/admin_img/arrow-right.svg" alt="">
        <ul class="smallList" id="memberList">
          <li id="li-memberList1"><a id="a-memberList1" href="http://localhost:3000/admin/dashboard/memberlist">會員列表</a></li>
        </ul>
      </li>
      <!-- <li>
        <img src="/images/admin_img/side4.svg" alt="">
        <a id="articleBtn" href="">文章管理</a>
        <img src="/images/admin_img/arrow-right.svg" alt="">
        <ul class="smallList" id="articleList">
          <li id="li-articleList1"><a id="a-articleList1" href="#">文章列表</a></li>
          <li id="li-articleList2"><a id="a-articleList2" href="#">新增文章</a></li>
        </ul>
      </li> -->
    </ul>
  </div>
  <script src="/javascripts/admin_dashboard.js"></script>