<div>
    <p><a href="http://localhost:3000/about">品牌理念</a></p>
    <p><a href="http://localhost:3000/#subpartyPlanSlectBtn">常見問題</a></p>
    <p>公司簡介</p>
    <p>異業合作</p>
    <div class='m-4'>
        <img src="/images/footer_icon_fb.svg" alt="">
        <img src="/images/footer_icon_ig.svg" alt="">
        <img src="/images/footer_icon_twitter.svg" alt="">
    </div>
    <p>小食界股份有限公司</p>
    <p>隱私權聲明  使用條款  COOKIE政策</p>
    <p>Copyright © 2021 THE SNACKWORLD, Inc. All rights reserved.</p>

</div>
<!-- <div>
    製作時方便看的快速連結，未來可以刪掉  => 
    <a href="http://localhost:3000/admin/login">管理者登入</a>
    <a href="http://localhost:3000/admin/dashboard">管理者後台</a>
</div> -->
