<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <%-include  css_js.ejs %>
    <link rel="stylesheet" href="/stylesheets/mainPage.css">
  </head>

  <body>
    <header><%-include  navbar.ejs %></header>
    <a href="/snack_test"><img class="testBtn_ani" id="testBtn" src="/images/testbtn.svg" alt=""></a>
    <!-- ============  heroPic ============================= -->
    <div class="mainHeroPicContainer container">
      <div class="mainHeroPic">
        <div class="mainHeroPicTitle display-5">
          <span class="mainHeroPicTitleSupply"> 定期提供 </span>
        </div>
        <div class="mainHeroPicTitle display-4">
          <span class="mainHeroPicTitleSupply2">異國與驚豔小食</span> 
        </div>
      </div>
      <div class="mainHeroPicParagraph text-center m-4"> 我們將交付<br> 一口的零食體驗，<br> 亦是<br> 每一口的異國文化。<br><br>
        以零食介紹不同國家的文化，透過零食到達世界各地，<br> 探索世界的「零食力」<br>
      </div>
    </div>
    <!-- ================== mainWaveBannerPlusDot ================== -->
    <div class="mainWaveBannerPlusDot">
      <div class="mainWaveBanner">
        <div class="mainFirstWave">
          <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="85.334">
            <path id="Path_1471" data-name="Path 1471"
              d="M.621,1888.182v63.106c120-32.379,184.466-8.6,271.32,3.013,79.56,10.664,159.053-13.6,238.853-7.825,105.093,6.785,180.373,55.988,290.133,2.106,55.934-21.2,85.027-32.233,161.92-26.167,218.76,20.422,439.427-45.15,654.56-6.892,102.414,15.517,197.441,69.771,303.214,35.832v-63.172Z"
              transform="translate(-0.621 -1888.182)" fill="#fff" />
          </svg>
        </div>
        <div class="mainPicHolder">
        </div>
        <div class="mainSecondWave">
          <svg xmlns="http://www.w3.org/2000/svg" width="100vw">
            <path id="Path_1563" data-name="Path 1563"
              d="M-2913.727,870.3V807.248c-119.905,32.354-184.32,8.592-271.1-3.01-79.5-10.656-158.927,13.586-238.664,7.819-105.01-6.78-180.23-55.943-289.9-2.1-55.889,21.179-84.959,32.208-161.792,26.147-218.586-20.406-439.078,45.114-654.041,6.887-102.332-15.505-197.284-69.716-302.973-35.8V870.3Z"
              transform="translate(4832.205 -785.039)" fill="#fff" />
          </svg>
        </div>
      </div>
    </div>
    <div class="mainWaveBannerDot">
      <div class="dot">
      </div>
      <div class="dotDes">
        <div class="dotTitle">
          <svg xmlns="http://www.w3.org/2000/svg" width="160" height="130" viewBox="0 0 295.436 188.614">
            <g id="Group_1782" data-name="Group 1782" transform="translate(-1221.752 -2313.067)">
              <path id="Path_1476" data-name="Path 1476"
                d="M1233.954,2371.807c-.239-2.933-.316-5.521-.684-8.067-.78-5.393-1.73-10.76-2.56-16.146a4.28,4.28,0,0,1,.15-2.317,1.851,1.851,0,0,1,1.636-.744,2.277,2.277,0,0,1,1.437,1.356,94.068,94.068,0,0,1,2.22,10.177c.63,4.687.934,9.422,1.253,14.144.122,1.81.9,2.747,2.659,2.972,4.3.551,8.6,1.116,12.8,1.662,0-4.306.03-8.493-.048-12.679-.008-.4-.628-.932-1.084-1.138-1.914-.864-2.19-1.769-.576-3.124a51.427,51.427,0,0,1,5.915-4.293c1.682-1.044,2.384-2.152,1.861-4.209a36.7,36.7,0,0,1-.5-5.814c-.961.931-1.6,1.53-2.212,2.148a8.434,8.434,0,0,1-1.667,1.658,2.186,2.186,0,0,1-1.922.054,1.885,1.885,0,0,1-.223-1.835c1.3-2.052,2.854-3.948,4.167-6a18.769,18.769,0,0,0,1.327-3.213l-.541-.413a7.66,7.66,0,0,1-1.972.595,9.985,9.985,0,0,1-2.225-.42c.282-.76.363-1.73.89-2.234a23.165,23.165,0,0,1,3.111-2.229c0-2.221-.1-4.256.052-6.273.052-.706.7-1.369,1.08-2.051.676.527,1.663.921,1.959,1.612a27.658,27.658,0,0,1,1.105,4.488c.733-.614,1.234-1.1,1.8-1.489a6.94,6.94,0,0,1,2.34-1.379,3.308,3.308,0,0,1,2.478.582c.3.252.029,1.689-.423,2.206a12.07,12.07,0,0,1-3.14,2.546c-2.649,1.485-3.277,2.474-2.394,4.963a2.947,2.947,0,0,0,1.668,1.687c1.82.489,3.727.653,5.594.98.7.123,1.633.123,2.032.564.616.681,1.342,1.842,1.131,2.523a2.888,2.888,0,0,1-2.371,1.338,58.588,58.588,0,0,1-6.226-.969,12.327,12.327,0,0,0-1.558-.008l.5,6.424a40.739,40.739,0,0,1,4.211-1.812,16.666,16.666,0,0,1,3.2-.355c.093,1.059.494,2.205.223,3.16-.8,2.826-1.869,5.576-2.876,8.481.3.151.625.334.964.475,2.549,1.067,3.5,3.214,2.478,5.751-1.3,3.206-2.643,6.393-4.071,9.838a14.58,14.58,0,0,0,1.633.219,102.073,102.073,0,0,0,22.186-2.109c4.715-.875,9.441-1.7,14.179-2.44,2.327-.363,3.393.7,2.581,2.444a2.676,2.676,0,0,1-1.752,1.277c-9.2,1.489-18.381,3.445-27.652,4.162-8.777.678-17.662.221-26.487-.1a126.57,126.57,0,0,1-16.29-1.737c-2.351-.393-4.563-1.839-6.716-3.027a2.244,2.244,0,0,1-.56-2.16,2.691,2.691,0,0,1,2.161-.752A20.943,20.943,0,0,1,1233.954,2371.807Zm31.74-18.457-.621-.487c-2.474,1.588-4.97,3.143-7.4,4.8a2.086,2.086,0,0,0-.788,1.5c.026,4.6.149,9.209.223,13.814.022,1.335.616,2.158,1.985,2.162,1.568,0,3.449.729,4.363-1.289,1.028-2.269,1.972-4.582,2.83-6.921a20.6,20.6,0,0,0,.588-3.38,16.864,16.864,0,0,0-2.384.636c-.653.292-1.181.924-1.847,1.108s-1.689.27-2.091-.1c-.357-.33-.239-1.4-.034-2.046s.852-1.167,1.179-1.806C1263.056,2358.686,1264.366,2356.013,1265.694,2353.35Z"
                fill="#fff" />
              <path id="Path_1477" data-name="Path 1477"
                d="M1352.119,2341.037a11.268,11.268,0,0,0,1.4.411c4.211.646,5.6,2.5,5.286,7.256-.374,5.646-1.108,11.268-1.677,16.9-.038.379-.005.765-.005,1.458,1.028-.306,1.884-.531,2.719-.816,1.866-.638,3.708-1.351,5.587-1.946,1.354-.428,2,.2,1.973,1.59-.034,1.631-1.072,2.39-2.413,3.036-5.331,2.564-10.872,3-16.748,2.616-4.6-.3-9.287.546-13.932.916-.849.068-1.684.407-2.529.422-3.414.058-6.833-.058-10.242.089-1.681.072-3.334.654-5.018.86a6.32,6.32,0,0,1-3.009-.133c-1.8-.734-1.788-1.964-.4-3.347a10.1,10.1,0,0,0,2.385-3.261c1.34-3.431,2.383-6.976,3.645-10.438a1.6,1.6,0,0,0-1.206-2.392c-1.5-.473-3.072-.763-4.542-1.317a8.1,8.1,0,0,1-1.9-1.461c.59-.621,1.066-1.525,1.788-1.813,2.479-.987,7.187.416,8.928,2.48a4.671,4.671,0,0,1,.947,4.811c-1.037,2.828-2.277,5.582-3.394,8.381-.435,1.089-.772,2.217-1.28,3.7,1.353,0,2.5.033,3.638-.007,2.045-.074,4.087-.215,6.132-.283,1.358-.046,1.94-.537,1.9-2.042-.1-3.956.006-7.918,0-11.877,0-1.278-.14-2.77,1.43-3.048.79-.14,1.744.642,2.764,1.065l14.946-10.82c-1.977-3.619.765-7.451.046-11.569a3.508,3.508,0,0,0-2.891,3.155c-.234,1.9-.362,3.81-.665,5.695-.423,2.629-.482,2.626-3.447,2a51.8,51.8,0,0,0-.051-5.222,4.882,4.882,0,0,0-1.131-2.655c-1.03-1.124-.947-2.07.155-2.82,2.5-1.7,5.126-3.214,7.626-4.913a3.69,3.69,0,0,0,1.644-2.039c.187-1.35.61-3.051-1.019-3.909a2.444,2.444,0,0,0-2.137.038q-3.965,2.928-7.7,6.155a3.151,3.151,0,0,0-.713,2.111c-.11,4.022-.095,8.047-.2,12.069a2.986,2.986,0,0,1-.673,1.907,2.578,2.578,0,0,1-2,.812,2.277,2.277,0,0,1-1.174-1.78c.021-5.668.147-11.336.33-17a2.3,2.3,0,0,1,.975-1.579q4.724-3,9.559-5.824a8.48,8.48,0,0,1,3.064-1.254c3.536-.438,6.05,1.656,5.826,5.244-.283,4.514-1.063,9-1.646,13.491C1352.785,2336.412,1352.449,2338.679,1352.119,2341.037Zm-18.512,15.718c.168,3.051.3,6.448.567,9.835.1,1.309,1.109,1.625,2.31,1.565q7.191-.36,14.384-.664a2.237,2.237,0,0,0,2.416-2.291c.292-3.008.718-6.006.923-9.018a66.205,66.205,0,0,0,.164-8.27c-.126-2.175-1.787-3.074-3.815-2.276a14.089,14.089,0,0,0-3.075,1.743c-3.513,2.553-6.956,5.205-10.481,7.741A23.714,23.714,0,0,1,1333.607,2356.755Z"
                fill="#fff" />
              <path id="Path_1478" data-name="Path 1478"
                d="M1413.846,2482.975c-4.425,4.792-8.58,9.382-12.87,13.844a4.622,4.622,0,0,1-2.912,1.046c-1.249.059-1.6-.788-.859-1.851a19.236,19.236,0,0,1,1.428-1.641c3.675-4.141,7.379-8.259,10.993-12.454.442-.513.4-1.438.587-2.173a10.01,10.01,0,0,0-2.223,0c-.951.208-1.83.783-2.782.931a1.852,1.852,0,0,1-1.6-.665c-.2-.446.15-1.2.4-1.762.148-.324.585-.513.883-.773.872-.76,2.338-1.425,2.485-2.308.324-1.937-.021-3.986-.107-6.386-1.828.642-3.159,1.155-4.52,1.571-1.016.31-2.366.668-2.61-.733-.122-.7.732-1.879,1.462-2.352,1.423-.922,3.18-1.337,4.58-2.285a4.255,4.255,0,0,0,1.6-2.605c.327-2.069.2-4.206.452-6.293.075-.633.768-1.192,1.177-1.785.627.595,1.626,1.095,1.805,1.8a41.371,41.371,0,0,1,.683,5.366c1.918-.14,3.186-.574,3.178-2.845-.008-2.239.361-4.479.582-6.908a25.443,25.443,0,0,1-4.235-.058,7.816,7.816,0,0,1-2.257-1.312c.413-.666.669-1.6,1.267-1.947,1.538-.889,1.431-2.224,1.353-3.612-.056-1-.457-1.5-1.533-1a2.616,2.616,0,0,1-1.305.385c-.6-.087-1.471-.289-1.658-.7a2.088,2.088,0,0,1,.238-1.914c.831-.806,1.986-1.266,2.9-2a11.527,11.527,0,0,0,1.516-1.8l-.56-.625-2.977,1.587c-1.168.624-2.469,1.155-3.289-.291-.809-1.428.287-2.331,1.418-2.98,4.172-2.391,8.344-4.784,12.565-7.086a15.158,15.158,0,0,1,3.525-1.241c3.04-.775,5.35,1.137,4.908,4.222a21.3,21.3,0,0,1-1.613,5.866c-1.457,3.156-3.222,6.173-4.927,9.209a19.356,19.356,0,0,0-1.6,10.5c1.3.963,2.6,1.451,3.005,2.345a2.065,2.065,0,0,1-1.6,2.893c-2.542.593-2.986,2.419-3.045,4.589-.029,1.1-.113,2.207-.189,3.613a6.743,6.743,0,0,1,1.827-.413,28.561,28.561,0,0,1,3.076.516c-.194.944-.125,2.072-.634,2.794a50.053,50.053,0,0,1-3.967,4.658c-.718.792-.758,1.4.082,2.15,4.518,4.041,8.98,8.145,13.518,12.163,1.363,1.207,1.845,2.521,1.027,3.716a2.6,2.6,0,0,1-4.008.267c-3.659-3.126-7.2-6.385-10.779-9.608C1416.449,2485.465,1415.228,2484.275,1413.846,2482.975Zm9.015-51.066-.527-.706c-2.094.951-4.225,1.832-6.256,2.9a2.035,2.035,0,0,0-.921,1.7c.331,1.009,1.126.834,2.058.4,1.573-.74,3.269-1.221,4.913-1.811l.491.511Zm-1.962,7.565c-4.739.776-6.266,3.589-4.082,7.546C1418.21,2444.445,1419.454,2442.144,1420.9,2439.474Zm-7.876,33.761c.592-2.819,1.406-5.155.831-7.767C1411.089,2466.633,1410.653,2469.99,1413.023,2473.235Z"
                fill="#fff" />
              <path id="Path_1479" data-name="Path 1479"
                d="M1488.9,2435.584a48.218,48.218,0,0,0-10.281,6.219c-.465.37-.853.921-1.377,1.108a9.456,9.456,0,0,1-2.163.268c.067-.841-.187-1.976.263-2.469a25.128,25.128,0,0,1,4.193-3.6,51.474,51.474,0,0,1,16.162-7.72,24.749,24.749,0,0,1,15.537.915,3.11,3.11,0,0,1,1.57,2.211c.321,3.474.495,6.97.535,10.461.117,10.488.29,20.979.141,31.465-.06,4.245-.879,8.483-1.393,12.719a1.9,1.9,0,0,1-2.5,1.818,2.142,2.142,0,0,1-1.845-2.595c.076-.645.411-1.256.52-1.9.5-2.975,1.367-5.957,1.369-8.936.008-12-.246-24.007-.437-36.01a22.618,22.618,0,0,0-.421-3.326,3,3,0,0,0-2.047-2.363,14.877,14.877,0,0,0-9.505-1,33.961,33.961,0,0,1,4.41,3.878,4.937,4.937,0,0,1-2.88,8.265c-2.06.422-2.935,1.514-2.586,3.423.54,2.951,1.3,5.861,1.964,8.789l.588.077q.575-1.056,1.148-2.111a14.625,14.625,0,0,1,1.844-3.24c.546-.573,1.691-.576,2.568-.833.165.807.68,1.747.433,2.4-1,2.644-2.2,5.221-3.413,7.779a3.388,3.388,0,0,0,.091,3.5c1.553,2.6,3.028,5.244,4.5,7.889.38.683.981,1.5.867,2.14a4.585,4.585,0,0,1-1.416,2.7c-1.057.813-1.908.006-2.466-1.067-1.125-2.162-2.234-4.338-3.492-6.423a2.936,2.936,0,0,0-1.837-1.249c-1.038-.155-1.431-.547-1.272-1.523.449-2.769-.286-5.328-1.207-7.905q-1.762-4.924-3.208-9.961c-.457-1.586-1.171-1.847-2.544-1.119-1.746.927-3.533,1.777-5.292,2.678-1.128.578-2.2.688-2.928-.535-.81-1.362.312-1.911,1.237-2.4,2.212-1.172,4.436-2.327,6.7-3.391a2,2,0,0,0,1.325-2.649C1489.842,2440,1489.446,2438.006,1488.9,2435.584Zm10.861,4.507a32.71,32.71,0,0,0-3.827-2.544c-1.618-.77-2.728-1.654-2.282-3.719a4.08,4.08,0,0,0-.435,2.124c.1.969.417,1.914.573,2.88.579,3.583,1.214,3.9,4.536,2.213C1498.666,2440.872,1498.967,2440.624,1499.762,2440.091Z"
                fill="#fff" />
              <path id="Path_1480" data-name="Path 1480"
                d="M1353.3,2445.116c.551.179.668.235.791.255,1.033.17,2.411-.348,2.764,1.231s-.708,2.314-1.854,3.115a2.61,2.61,0,0,0-1.006,1.988c.38,3.784.935,7.551,1.516,11.962,1.261-1.73,2.064-3.042,3.076-4.165a24.994,24.994,0,0,1,3.736-3.449,2.2,2.2,0,0,1,2.115.008,3.1,3.1,0,0,1,.189,2.3c-.133.567-.786,1-1.174,1.521-1.836,2.462-3.767,4.863-5.427,7.439a4.2,4.2,0,0,0-.436,3.2c1.637,4.759,3.259,9.549,5.347,14.118,2.045,4.478,4.646,8.7,7,13.04.125.231.215.48.344.709a2.011,2.011,0,0,1-.91,3c-1.207.72-2.083-.032-2.639-.964-4.339-7.291-8.737-14.558-11.239-22.758-.287-.941-.625-1.866-.953-2.794-.041-.115-.168-.2-.255-.3-.111-.006-.24-.051-.331-.011-.888.387-1.77.789-2.653,1.186-.072-1.032-.582-2.33-.142-3.05,2.025-3.314.943-6.6.336-9.932-.613-3.358-1.159-6.729-1.777-10.341a36.5,36.5,0,0,0-3.365,1.473c-5.57,3.108-11.115,6.26-16.659,9.413a1.844,1.844,0,0,1-2.727-.586c-.84-1.128.007-1.768.7-2.282a29.891,29.891,0,0,1,3.223-1.9,2.178,2.178,0,0,0,1.261-2.872c-.577-1.877-.788-3.872-1.428-5.722a5.3,5.3,0,0,0-1.923-2.427c-1.628-1.126-1.784-1.931-.175-3.132.679-.508,1.5-.825,2.217-1.285q5.884-3.772,11.747-7.58c.44-.285.808-.68,1.247-.965,1.093-.71,2.541-1.071,3.1.184.378.848-.274,2.274-.736,3.322-.215.488-1.065.708-1.643,1.022a4.781,4.781,0,0,0-2.551,3.728c-.554,3.34-1.336,6.642-2.024,9.959l.491.462c2.862-1.673,5.751-3.3,8.554-5.068.393-.247.53-1.161.51-1.757-.13-3.881-.543-7.764-.467-11.639.111-5.652.556-11.3.861-16.946a3.308,3.308,0,0,1,.065-.589c.515-2.188,1.956-3.685,3.168-3.022,1.664.91.913,2.618.409,3.813a15.918,15.918,0,0,0-.962,7.139C1352.909,2431.822,1353.084,2438.477,1353.3,2445.116Zm-17.123,9.6.79-.086c.169-3.327.342-6.653.5-9.98.008-.169-.141-.345-.422-.986-.96,1.019-2.523,1.946-2.458,2.74A69.007,69.007,0,0,0,1336.181,2454.72Z"
                fill="#fff" />
              <path id="Path_1481" data-name="Path 1481"
                d="M1497.38,2370.577c-1.488,1.3-2.686,2.391-3.926,3.429-2.059,1.725-4.17,3.388-6.208,5.136-1.161.995-2.387.867-3-.58a10.688,10.688,0,0,1-.927-3.405c-.373-5.852-.6-11.713-.946-17.567-.168-2.825-.491-5.641-.729-8.462-.044-.522-.228-1.2.018-1.543a3.91,3.91,0,0,1,1.877-1.608c.36-.09,1.37.952,1.482,1.588.455,2.587.669,5.216.989,7.827.078.633.223,1.257.357,2L1496,2350.6l-.083-.22c-1.8.79-3.584,1.627-5.411,2.354-1.339.532-3.055,1.719-3.9-.341-.811-1.99,1.289-2.179,2.484-2.784,2.866-1.451,5.77-2.829,8.613-4.322.428-.225.611-.913.908-1.386l-.559-.7c-2.38,1.287-4.764,2.566-7.136,3.868-.458.251-.858.825-1.3.841a3.208,3.208,0,0,1-2.115-.527,1.9,1.9,0,0,1,.1-1.858c3.642-2.519,6.853-5.928,11.658-6.23,3.073-.193,4.516,1.426,3.422,4.27-1.576,4.1-3.521,8.063-5.454,12.014-.641,1.31-1.695,2.366-3.527,1.679-.452-.169-1.131.187-1.678.381-.3.1-.509.426-.8.569-4.784,2.349-5.14,6.43-4.35,10.986.188,1.084.259,2.188.462,3.973,2.28-1.489,4.2-2.638,5.991-3.954.991-.728.922-1.583-.192-2.369a5.784,5.784,0,0,1-2.024-2.088,2.942,2.942,0,0,1,.227-2.464,2.644,2.644,0,0,1,2.156-.6,5.462,5.462,0,0,1,2.516,1.066c1.313,1.016,2.078.505,2.941-.591a56.835,56.835,0,0,1,4.481-5.229c.535-.53,1.678-.447,2.543-.644-.1.972.129,2.16-.351,2.874a52.087,52.087,0,0,1-4.235,5.193c-1.06,1.205-.953,2.112.306,3.112,3.089,2.454,5.936,5.226,9.819,6.527.682.229,1.692,1.519,1.55,1.786-.466.873-1.361,2.05-2.151,2.1a7.46,7.46,0,0,1-4.087-1.026c-2.981-1.81-5.787-3.905-8.671-5.875A5.4,5.4,0,0,0,1497.38,2370.577Z"
                fill="#fff" />
              <path id="Path_1482" data-name="Path 1482"
                d="M1491.6,2320.4c-.423.782-.721,1.285-.977,1.809a206.579,206.579,0,0,1-24.491,39.13,6.141,6.141,0,0,1-2.541,2.1c-.823.266-1.919-.31-2.9-.514.225-.758.434-1.522.686-2.271.057-.17.252-.3.4-.43,5.6-4.75,9.713-10.723,13.448-16.923,3.83-6.359,7.313-12.925,10.936-19.408a11.858,11.858,0,0,0,.71-1.629c.438-1.169,1.368-2.476,1.118-3.485-.226-.915-1.848-1.416-2.668-2.276-.522-.548-1.095-1.529-.93-2.116a2.445,2.445,0,0,1,1.88-1.316,40.677,40.677,0,0,1,5.309.444,1.2,1.2,0,0,1,.672.354c5.405,5.755,12.478,8.877,19.379,12.269,1.417.7,2.928,1.23,4.262,2.053a2.866,2.866,0,0,1,1.284,1.951c.02.561-.744,1.331-1.349,1.7-1.411.861-2.723,1.132-4.218-.307-1.14-1.1-2.861-1.584-4.3-2.38q-6.228-3.444-12.438-6.918C1493.853,2321.663,1492.827,2321.086,1491.6,2320.4Z"
                fill="#fff" />
              <path id="Path_1483" data-name="Path 1483"
                d="M1279.648,2463.465c1.168,1.37,2.119,2.54,3.129,3.657a15.958,15.958,0,0,1,3.672,8.569,4.381,4.381,0,0,1-3.8,4.65,21.279,21.279,0,0,1-12.4-2.426,12.834,12.834,0,0,1-3.639-3.716c-.783-1.088-.088-1.936,1.226-1.856a8.7,8.7,0,0,1,2.415.68c3.115,1.164,6.187,2.455,9.338,3.51,1.9.638,3.022-.514,2.415-2.435-1.115-3.53-2.918-6.61-6.315-8.474a5.752,5.752,0,0,1-1.515-.905c-.586-.635-1.5-1.518-1.377-2.117a3.138,3.138,0,0,1,1.868-1.973q10.167-3.058,20.416-5.835a47.283,47.283,0,0,1,6.6-1.046c1.018-.124,2.2-.284,2.33,1.339a2.248,2.248,0,0,1-1.934,2.561,20.658,20.658,0,0,1-3.325.432C1292.1,2458.569,1285.995,2460.94,1279.648,2463.465Z"
                fill="#fff" />
              <path id="Path_1484" data-name="Path 1484"
                d="M1342.721,2459.681c2.556,0,3.753,1.314,3.485,3.191s-.72,3.748-.907,5.639a28.779,28.779,0,0,0,.127,3.807c.018.51.213,1.185-.035,1.5-1.493,1.921-2.2,4.659-5.555,4.61-1.284-.019-2.667,1.021-3.861,1.8-3.06,2-4.165,1.474-4.7-2.114-.417-2.787-1.119-5.532-1.686-8.3-.5-2.454.086-2.914,2.268-3.968,2.818-1.362,5.361-3.283,8.069-4.885A23.848,23.848,0,0,1,1342.721,2459.681Zm-7.162,9.355.365.466c3.767-.189,5.71-1.835,4.839-4.857Zm-.475,6.333c2.65.333,4.157-.56,4.467-2.866C1338.093,2473.737,1335.874,2473.142,1335.084,2475.369Z"
                fill="#fff" />
              <path id="Path_1485" data-name="Path 1485"
                d="M1411.607,2347.225q0-9.989.007-19.978a3.7,3.7,0,0,1,.209-1.931,2.985,2.985,0,0,1,1.876-1.238,2.058,2.058,0,0,1,1.634,1.128,12.167,12.167,0,0,1,.382,3.512c.017,8.9-.072,17.808.017,26.71.04,4.011.441,8.018.611,12.029a13.706,13.706,0,0,1-.236,3.914,2.347,2.347,0,0,1-1.713,1.452,2.555,2.555,0,0,1-1.989-1.333,18.88,18.88,0,0,1-.606-4.875c-.06-6.462-.025-12.926-.025-19.389Z"
                fill="#fff" />
              <path id="Path_1486" data-name="Path 1486"
                d="M1247.374,2444.941c-1.438-.86-2.588-1.559-3.749-2.238-.451-.263-1.113-.367-1.352-.748a3.865,3.865,0,0,1-.862-2.365c.116-.541,1.215-1.122,1.947-1.236,2.079-.323,5.533,2.256,6.355,4.561.132.37.233.751.41,1.33.819-.053,1.651-.048,2.462-.176.906-.143,1.783-.516,2.689-.589,1.112-.09,2.568-.555,2.822,1.23.241,1.69-.959,2.472-2.338,2.625-7.087.785-13.608,3.468-20.16,5.985-4.094,1.573-8.026,3.564-12.055,5.311a1.511,1.511,0,0,1-1.371-.142,1.694,1.694,0,0,1-.346-1.508,5.02,5.02,0,0,1,1.735-1.829,48.278,48.278,0,0,1,5.789-2.947c5.408-2.2,10.871-4.274,16.307-6.408C1246.123,2445.614,1246.558,2445.351,1247.374,2444.941Z"
                fill="#fff" />
              <path id="Path_1487" data-name="Path 1487"
                d="M1281.51,2437.03a38.906,38.906,0,0,1-4.056,12.448c-1.1,2.145-2.187,4.3-3.4,6.389a14.923,14.923,0,0,1-2.3,2.925,1.869,1.869,0,0,1-1.569.3c-.233-.064-.459-.949-.339-1.361.365-1.249.884-2.455,1.374-3.666,1.917-4.728,3.876-9.439,5.74-14.188a8.622,8.622,0,0,0,.211-2.434,9.132,9.132,0,0,0-2.619.145c-3.576,1.288-7.1,2.707-10.652,4.075-.9.347-1.936,1.007-2.565-.255-.594-1.2.127-2.066,1.2-2.514,4.471-1.865,8.939-3.746,13.472-5.45a6.149,6.149,0,0,1,3.482-.06C1281.254,2433.837,1281.585,2435.37,1281.51,2437.03Z"
                fill="#fff" />
              <path id="Path_1488" data-name="Path 1488"
                d="M1309.56,2480.333c.053-2.73.469-4.1,2.8-4.623s4.416-2.014,6.733-2.59a5.175,5.175,0,0,1,3.685,1.02c1.305.931.367,2.254-.177,3.364-.318.648-.636,1.3-1.013,1.914-.8,1.293-.876,2.217.871,2.837.648.23,1.576,1.314,1.451,1.734a3.552,3.552,0,0,1-1.785,2.267,61.833,61.833,0,0,1-7.858,1.551,2.886,2.886,0,0,1-3.3-1.977C1310.284,2483.793,1309.889,2481.66,1309.56,2480.333Zm8.388-1.7-.495-.616c-.968.6-2.184,1.015-2.822,1.862-.473.629-.2,1.822-.253,2.763l.776.237Z"
                fill="#fff" />
              <path id="Path_1489" data-name="Path 1489"
                d="M1471.726,2481.71c-.138,1.485.274,3.282-1.677,3.418-1.76.123-2.242-1.448-2.337-2.877-.335-5.044-.635-10.093-.838-15.145-.167-4.14-.1-8.292-.3-12.43a18.515,18.515,0,0,0-1-4.39c-.39-1.28-.22-2.212,1.117-2.7s2.484-.089,2.817,1.284a32.613,32.613,0,0,1,.99,6.2c.319,7.363.464,14.734.729,22.1C1471.282,2478.739,1471.566,2480.3,1471.726,2481.71Z"
                fill="#fff" />
              <path id="Path_1490" data-name="Path 1490"
                d="M1239.767,2474.414c0-1.078-.029-1.672.006-2.263.124-2.111.739-2.466,2.766-1.776a4.421,4.421,0,0,0,1.659.008,31.617,31.617,0,0,1,4.673-.339c2.825.222,3.736,1.683,3.017,4.449a10.935,10.935,0,0,1-.794,2.214,1.86,1.86,0,0,0,.333,2.444c1.352,1.472.584,3.3-1.47,3.481-2.323.2-4.494.44-6.322,2.228a1.564,1.564,0,0,1-2.555-.839,17.908,17.908,0,0,1-.9-3.791C1239.937,2478.141,1239.874,2476.032,1239.767,2474.414Zm4.569,5.1c2.523-1.421,3.477-3.21,3.038-5.923-1.1.539-2.639.8-2.911,1.534C1244,2476.366,1244.336,2477.906,1244.336,2479.51Z"
                fill="#fff" />
              <path id="Path_1491" data-name="Path 1491"
                d="M1477.387,2459.162c.41-.574.755-1.6,1.422-1.892a77.444,77.444,0,0,1,8.288-3.126c2.1-.644,3.159.283,3.089,2.49a20.064,20.064,0,0,1-.658,3.06,17.411,17.411,0,0,1-.567,3.132,5.2,5.2,0,0,1-1.706,2.23c-1.792,1.27-3.953,1.966-4.9,4.33-.473,1.181-2.284.791-2.693-.667C1478.809,2465.689,1478.188,2462.595,1477.387,2459.162Zm5.438,3.863,2.994-4.145C1481.946,2460,1481.327,2460.852,1482.825,2463.025Z"
                fill="#fff" />
              <path id="Path_1492" data-name="Path 1492"
                d="M1439.236,2356.968a13.374,13.374,0,0,1-2.23-.943c-3.8-2.706-7.576-5.453-11.357-8.189a2.968,2.968,0,0,1-.465-.365c-.939-1.007-2.644-1.823-1.511-3.553,1.1-1.673,2.765-1.134,4.278-.575a7.23,7.23,0,0,1,1.71.974c3.609,2.638,7.248,5.243,10.761,8.005a2.98,2.98,0,0,1,1.032,2.519C1441.13,2355.728,1439.972,2356.312,1439.236,2356.968Z"
                fill="#fff" />
              <path id="Path_1493" data-name="Path 1493"
                d="M1271.9,2441.962c-1.169,4.325-2.214,8.516-3.452,12.65a51.871,51.871,0,0,1-2.522,6.4c-.321.711-1,1.631-1.645,1.749-1.364.249-1.873-.716-1.528-1.994.511-1.9,1-3.807,1.685-5.644a1.567,1.567,0,0,0-.874-2.338,7.655,7.655,0,0,1-2.5-2.143c-1.058-1.442-.429-2.486,1.362-2.5a4.83,4.83,0,0,1,1.373.127c2.66.774,2.647.784,3.318-1.872a36.049,36.049,0,0,1,1.423-5.088c.267-.639,1.356-.936,2.072-1.388Z"
                fill="#fff" />
              <path id="Path_1494" data-name="Path 1494"
                d="M1263.61,2320.593a28.128,28.128,0,0,1-11.693-1.938,4.293,4.293,0,0,1-1.739-.858,2.729,2.729,0,0,1-.762-2.007,2.1,2.1,0,0,1,1.714-1.116c2.595.313,5.145,1.008,7.742,1.277a84.348,84.348,0,0,0,8.822.38c1.3,0,2.6-.39,2.942,1.366a2.673,2.673,0,0,1-2.593,2.879C1266.663,2320.656,1265.276,2320.593,1263.61,2320.593Z"
                fill="#fff" />
              <path id="Path_1495" data-name="Path 1495"
                d="M1400.915,2434.737a4.735,4.735,0,0,1,1.36,1c3.078,4.168,5.522,8.657,6.132,13.888.1.841-.73,1.79-1.13,2.69a13.474,13.474,0,0,1-2.432-1.48,6.266,6.266,0,0,1-.983-1.912q-2.577-5.31-5.153-10.62C1397.649,2436.108,1398.33,2434.746,1400.915,2434.737Z"
                fill="#fff" />
              <path id="Path_1496" data-name="Path 1496"
                d="M1497.427,2481.574c.7.626,1.928,1.31,1.843,1.726-.2.948-.87,2.322-1.635,2.545-4.789,1.393-9.643,2.573-14.511,3.666-.678.152-1.551-.563-2.333-.877.363-.861.539-2.3,1.12-2.492C1486.961,2484.514,1492.083,2483.112,1497.427,2481.574Z"
                fill="#fff" />
              <path id="Path_1497" data-name="Path 1497"
                d="M1397.461,2354.893c-.484,3.312-.942,6.628-1.478,9.932a3.375,3.375,0,0,1-.821,1.746,2.275,2.275,0,0,1-1.661.677c-.409-.058-.9-.756-1.03-1.255a6.353,6.353,0,0,1-.046-2.152c.29-3.2.617-6.4.929-9.6.013-.131,0-.265.013-.4.191-1.423.126-3.268,2.113-3.207,1.955.061,1.493,1.957,1.718,3.232a5.7,5.7,0,0,1,.009.987Z"
                fill="#fff" />
              <path id="Path_1498" data-name="Path 1498"
                d="M1477.595,2480.119c-.412-.439-1.317-.974-1.381-1.595a2.519,2.519,0,0,1,1.1-2.012c1.785-.962,3.727-1.628,5.584-2.463,1.495-.673,2.913-1.537,4.447-2.089.647-.232,1.887-.142,2.17.271a3.018,3.018,0,0,1-.108,2.288,2.569,2.569,0,0,1-1.315,1.121c-2.966,1.409-5.956,2.769-8.948,4.124A9.793,9.793,0,0,1,1477.595,2480.119Z"
                fill="#fff" />
              <path id="Path_1499" data-name="Path 1499"
                d="M1363.839,2437.8c-3.047-1.224-5.932-2.261-8.676-3.59a2.687,2.687,0,0,1-.613-2.5c.4-1.015,1.344-2.265,2.727-1.628,2.664,1.228,5.251,2.637,7.783,4.119a2.091,2.091,0,0,1,.785,1.861C1365.505,2436.758,1364.6,2437.179,1363.839,2437.8Z"
                fill="#fff" />
              <path id="Path_1500" data-name="Path 1500"
                d="M1257.143,2473.611c.531-1.018.891-2.284,1.252-2.285.846,0,2.175.384,2.458,1a90.955,90.955,0,0,1,3.745,9.513c.4,1.226-.808,1.8-1.862,1.534a3.548,3.548,0,0,1-2.217-1.457C1259.255,2479.21,1258.244,2476.384,1257.143,2473.611Z"
                fill="#fff" />
              <path id="Path_1501" data-name="Path 1501"
                d="M1311.365,2452.646c-.914-.751-1.878-1.182-2.13-1.873-.173-.476.47-1.6,1.041-1.935,2.6-1.521,5.274-2.942,8.005-4.219.692-.324,1.694.013,2.553.046-.082.989.2,2.551-.307,2.872C1317.626,2449.377,1314.537,2450.922,1311.365,2452.646Z"
                fill="#fff" />
              <path id="Path_1502" data-name="Path 1502"
                d="M1232.275,2336.234c-2.448-1.335-4.8-2.477-6.991-3.876-1.051-.671-.754-2.3.457-2.957a3.1,3.1,0,0,1,2.239-.452,36.317,36.317,0,0,1,6.051,3.167,2.871,2.871,0,0,1,.523,2.593C1234.358,2335.322,1233.231,2335.636,1232.275,2336.234Z"
                fill="#fff" />
              <path id="Path_1503" data-name="Path 1503"
                d="M1321.326,2460.334c.375.355,1.265.8,1.328,1.347.1.848-.084,2.244-.636,2.564a74.223,74.223,0,0,1-8.257,4.062c-.469.2-1.552-.482-2-1.038-.228-.282.126-1.482.553-1.772,2.495-1.692,5.085-3.245,7.659-4.821A6.25,6.25,0,0,1,1321.326,2460.334Z"
                fill="#fff" />
              <path id="Path_1504" data-name="Path 1504"
                d="M1496.5,2336.488c-.033,2.152-1.146,3.01-2.425,2.242q-3.3-1.98-6.442-4.219c-.881-.627-1.9-1.47-.986-2.781a2.165,2.165,0,0,1,3.383-.646c1.772,1.254,3.6,2.441,5.3,3.778A5.878,5.878,0,0,1,1496.5,2336.488Z"
                fill="#fff" />
              <path id="Path_1505" data-name="Path 1505"
                d="M1244.634,2458.836c-.611-.553-1.457-.984-1.676-1.629a2.032,2.032,0,0,1,.912-1.742c2.528-1.213,5.112-2.326,7.746-3.285a2.266,2.266,0,0,1,2.1.567,2.489,2.489,0,0,1-.478,2.225,7.819,7.819,0,0,1-2.665,1.591C1248.713,2457.347,1246.806,2458.012,1244.634,2458.836Z"
                fill="#fff" />
              <path id="Path_1506" data-name="Path 1506"
                d="M1320.031,2453.722c.726.526,1.607.884,1.6,1.21-.032.9-.163,2.274-.74,2.6a71.579,71.579,0,0,1-7.785,3.635,1.769,1.769,0,0,1-1.519-.836c-.218-.639-.2-1.891.176-2.116C1314.419,2456.624,1317.2,2455.23,1320.031,2453.722Z"
                fill="#fff" />
              <path id="Path_1507" data-name="Path 1507"
                d="M1322.688,2340.528c-.143.246-.388,1.216-.941,1.444-.477.2-1.43-.3-1.951-.749a58.958,58.958,0,0,1-4.729-4.485,2.276,2.276,0,0,1-.47-2.039,2.78,2.78,0,0,1,2.006-1.215C1318.9,2333.433,1322.7,2337.625,1322.688,2340.528Z"
                fill="#fff" />
              <path id="Path_1508" data-name="Path 1508"
                d="M1335.8,2428.893c1.6.527,3.243.959,4.792,1.609a2.427,2.427,0,0,1,1.282,3.314c-.512,1.521-1.749,1.021-2.814.72a31.671,31.671,0,0,1-4.861-1.521c-.85-.4-1.4-1.44-2.084-2.192.871-.552,1.723-1.137,2.623-1.635.251-.139.645-.021.973-.021Z"
                fill="#fff" />
              <path id="Path_1509" data-name="Path 1509"
                d="M1318.707,2442.646a66.233,66.233,0,0,1-6.7-2.14,2.741,2.741,0,0,1-1.11-2.358c.087-.559,1.32-1.3,2.064-1.328a8.8,8.8,0,0,1,6.589,2.023,3.287,3.287,0,0,1,.62,2.424C1320.126,2441.736,1319.284,2442.133,1318.707,2442.646Z"
                fill="#fff" />
              <path id="Path_1510" data-name="Path 1510"
                d="M1245.25,2465.525c-.867-.727-1.734-1.108-1.787-1.58a2.674,2.674,0,0,1,.683-2.194,56.227,56.227,0,0,1,6.455-3.241,1.917,1.917,0,0,1,1.8.354,2.008,2.008,0,0,1-.127,1.926C1250.044,2462.437,1247.688,2463.911,1245.25,2465.525Z"
                fill="#fff" />
              <path id="Path_1511" data-name="Path 1511"
                d="M1338.186,2361.607c.252-3.133,1.084-4.31,3.982-5.412,1.758-.668,3.461-1.665,5.278-1.956,2.6-.415,3.361.533,2.9,3.17a28.246,28.246,0,0,1-1.2,3.506,21.392,21.392,0,0,1-.87,3,3.566,3.566,0,0,1-1.712,1.812,18.536,18.536,0,0,1-5,.842,2.924,2.924,0,0,1-2.154-1.3A18.019,18.019,0,0,1,1338.186,2361.607Zm5.057,1.1,2.494-3.329-.491-.353C1343.986,2359.64,1342.1,2359.791,1343.243,2362.71Z"
                fill="#fff" />
              <path id="Path_1512" data-name="Path 1512"
                d="M1343.243,2362.71c-1.146-2.919.743-3.07,2-3.682l.491.353Z" />
            </g>
          </svg>
        </div>
        <div class='mainWaveBannerDes'> Hey Boys 挑什麽，看見什麼吃什麽~<br> Hey Girls 等什麽，吃壞好過沒吃過。<br> 依現代需求，提供每日異國小食。 </div>
      </div>
    </div>

    <!-- =======================    MainInstructionSubscription   ======================= -->
    <div class="MainInstructionSubscriptionWave">
      <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="85">
        <path id="Path_1474" data-name="Path 1474"
          d="M1919.1,3223.056V3160c-119.905,32.354-184.321,8.592-271.1-3.01-79.5-10.656-158.927,13.586-238.664,7.819-105.01-6.78-180.23-55.943-289.9-2.1-55.889,21.179-84.96,32.207-161.792,26.147-218.587-20.406-439.078,45.114-654.041,6.886-102.332-15.5-197.284-69.716-302.973-35.8v63.122Z"
          transform="translate(-0.621 -3137.791)" fill="#dac0ad" />
      </svg>
    </div>
    <main class="MainInstructionSubscription">
      <!-- /* ==================  Step by Step  ================== */ -->
      <div class="MainInstructionSteps card-columns">
        <div class="container cardContainer">
          <div class="card-body">
            <img src="./images/MainHowTo1.png" alt="No mage sor">
            <h5 class="card-title">零食診斷</h5>
            <p class="card-text">在購買程序之前，請輸入您想要排除的食物偏好和成分等訊息。</p>
          </div>
        </div>
        <div class="arrow cardContainer ">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.839" height="27.527" viewBox="0 0 23.839 27.527">
            <path id="Path_1536" data-name="Path 1536"
              d="M771.06,3477.494l-11.919,6.882-11.919,6.882V3463.73l11.919,6.882Z"
              transform="translate(-747.221 -3463.73)" fill="#fff" />
          </svg>
        </div>
        <div class="container cardContainer">
          <div class="card-body">
            <img src="./images/MainHowTo2.png" alt="no IMage sor">
            <h5 class="card-title">零食寄送</h5>
            <p class="card-text">將零食體驗箱送到您手中。</p>
          </div>
        </div>
        <div class="arrow cardContainer">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.839" height="27.527" viewBox="0 0 23.839 27.527">
            <path id="Path_1536" data-name="Path 1536"
              d="M771.06,3477.494l-11.919,6.882-11.919,6.882V3463.73l11.919,6.882Z"
              transform="translate(-747.221 -3463.73)" fill="#fff" />
          </svg>
        </div>
        <div class="container cardContainer">
          <div class="card-body">
            <img src="./images/MainHowTo3.png" alt="No Image Sor">
            <h5 class="card-title">零食體驗</h5>
            <p class="card-text">讓自己度過完美的異國零食時間。</p>
          </div>
        </div>
      </div>
      <!-- ==================   MainInstructionSubscriptionChoices   ================== -->
      <div id='memberSubPlanChoose'>
        <!-- 超值箱 -->
        <div id='aStealPlan' class='planstyle'>
          <img id="aStealPlanImg" src="/images/subplan_astealplan_box_blue.svg">
          <p class='mb-0 mt-4'>超值箱</p>
          <p class='mb-0 fontsize24 fontweightB'>NT $499 / month</p>
          <table>
            <tr>
              <td class="width260">免運費</td>
              <td>V</td>
            </tr>
            <tr>
              <td>精選6~8種零食</td>
              <td>V</td>
            </tr>
            <tr>
              <td>擁有至少3個國家</td>
              <td>V</td>
            </tr>
            <tr>
              <td>適合單人獨享</td>
              <td>V</td>
            </tr>
          </table>
          <button class='subPlanSlectBtn'>選擇方案</button>
        </div>
        <!-- 享樂箱 -->
        <div id='enjoyPlan' class='planstyle'>
          <img id='enjoyPlanImg' src="/images/subplan_enjoyplan_box_white.svg">
          <p class='mb-0 mt-4'>享樂箱</p>
          <p class='mb-0 fontsize24 fontweightB'>NT $699 / month</p>
          <table>
            <tr>
              <td class="width260">免運費</td>
              <td>V</td>
            </tr>
            <tr>
              <td>精選9~11種零食</td>
              <td>V</td>
            </tr>
            <tr>
              <td>擁有至少3個國家</td>
              <td>V</td>
            </tr>
            <tr>
              <td>適合雙人獨享</td>
              <td>V</td>
            </tr>
          </table>
          <button class='subPlanSlectBtn'>選擇方案</button>
        </div>
        <!-- 派對箱 -->
        <div id='partyPlan' class='planstyle'>
          <img id='partyPlanImg' src="/images/subplan_partyplan_box_blue.svg">
          <p class='mb-0 mt-4'>派對箱</p>
          <p class='mb-0 fontsize24 fontweightB'>NT $999 / month</p>
          <table>
            <tr>
              <td class="width260">免運費</td>
              <td>V</td>
            </tr>
            <tr>
              <td>精選12~18種零食</td>
              <td>V</td>
            </tr>
            <tr>
              <td>擁有至少5個國家</td>
              <td>V</td>
            </tr>
            <tr>
              <td>適合多人獨享</td>
              <td>V</td>
            </tr>
          </table>
          <button id='subpartyPlanSlectBtn' class='subPlanSlectBtn'>選擇方案</button>
        </div>
      </div>
      <!-- ==========   collapsed Select 訂閱Q&A  ==========-->
      <div class="MaincollapsedSelect  accordion" id="accordionExample">
        <div class="MaincollapsedSelectTitle"> 訂閱制Q&A</div>
        <div class="card cardColor">
          <div class="card-header" id="headingOne">
            <div class="mainDashLine"></div>
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">+
                <span>Q1：什麼是訂閱制零食箱呢？</span>
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body"> 每個月自動扣款、並安排每月20號零食箱出貨(遇例假日則順延)。系統會根據您的訂購資料定期進行扣款，無須再手動續約訂購。 </div>
          </div>
        </div>
        <div class="card cardColor">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">+
                <span>Q2：一箱會有多少種零食呢？</span>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body"> 依照不同方案，零食數量也不同呦～ 請參考上方訂閱方案說明。 </div>
          </div>
        </div>
        <div class="card cardColor">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> +
                <span>Q3：零食箱有多大呢？</span> </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body"> 箱子的長35*寬30*高20公分。 </div>
          </div>
        </div>
        <div class="card cardColor">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> +
                <span>Q4：若零食有包含不能吃的成分，怎麼辦？</span>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body"> 在您開始訂閱前，我們會請您填寫一份小測驗，您可以將要避開的成分填入，之後您也可以從會員中心進行調整。 </div>
          </div>
        </div>
        <div class="card cardColor">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> +
                <span>Q5：我可以提前知道裡面有什麼零食嗎？ </span>
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body"> 不行呦～ 我們精心準備的零食箱，是希望在平淡的日常中人們仍能保有期待與驚喜，不過您可以進入會員中心設定避免包含的成分。 </div>
          </div>
        </div>
        <div class="card cardColor">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> +
                <span>Q6：若我想取消訂閱該怎麼作呢？</span>
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              我們每個月20日會開始配送零食箱，若您於每月1~15日申請取消訂閱，將在當月停止配送。若您於每月16日後申請取消訂閱，將在次月停止配送。<br />您可以進入會員中心/訂閱制訂單進行取消訂閱。 </div>
          </div>
        </div>
      </div>
    </main>
    <div class="MainInstructionSubscriptionWave">
      <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="85.333">
        <path id="Path_1472" data-name="Path 1472"
          d="M.621,5855.774v63.106c120-32.38,184.466-8.6,271.32,3.013,79.56,10.664,159.053-13.6,238.853-7.825,105.093,6.785,180.373,55.987,290.133,2.106,55.934-21.195,85.027-32.233,161.92-26.168,218.76,20.422,439.427-45.15,654.56-6.891,102.414,15.516,197.441,69.771,303.214,35.832v-63.173Z"
          transform="translate(-0.621 -5855.774)" fill="#dac0ad" />
      </svg>
    </div>
    <!-- ==========   Common Question 常見問題   ==========-->
    <div class="CommonQuestion">
      <div class="MainCommonQuestion  accordion" id="accordionExample">
        <div class="MainCommonQuestionTitle "> 常見問題</div>
        <div class="card">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">+
                <span>Q1：請問零食的保存期限？</span>
              </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body"> 我們會嚴格控管零食的保存期限，在您收到商品後至少30日以上。 </div>
          </div>
        </div>
        <div class="card">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingEight">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">+
                <span>Q2：如果收到零食包裝有破損怎麼辦？</span>
              </button>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body"> 若有您收到後發現零食包裝破損的狀況，請立刻拍照並與客服人員聯繫，我們會儘快協助您處理。 </div>
          </div>
        </div>
        <div class="card">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingNight">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseNight" aria-expanded="false" aria-controls="collapseNight"> +
                <span>Q3：訂閱制與一般購買差別在哪裡？</span> </button>
            </h2>
          </div>
          <div id="collapseNight" class="collapse" aria-labelledby="headingNight" data-parent="#accordionExample">
            <div class="card-body">
              訂閱制零食箱將會每個月固定收到我們精心準備的異國零食，在生活中帶來新鮮感與樂趣，也適合在辦公室與同事一同分享。而一般購買可以從頁面中挑選您想嘗試的商品。網站上所有商品都是精心挑選，希望能為您帶來美好的零食時光。
            </div>
          </div>
        </div>
        <div class="card">
          <div class="mainDashLine"></div>
          <div class="card-header" id="headingTen">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed cardTitle" type="button" data-toggle="collapse"
                data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen"> +
                <span>Q4：如果我訂錯商品能修改嗎？</span>
              </button>
            </h2>
          </div>
          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
            <div class="card-body"> 在出貨前，都能進入會員中心進行訂單取消。</div>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/mainPage.js"></script>
    <footer><%-include footer.ejs %></footer>
  </body>

  
  
</html>