<!DOCTYPE html>
  <head>
    <%-include  css_js.ejs %>
    <title>會員後台</title>
    <link rel="stylesheet" href="/stylesheets/member_dashboard_03.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
            crossorigin="anonymous">
    </script>
        <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </head>
  <body>
    <%-include  navbar.ejs %>
    <!-- 頁面標題文字 -->
    <div id='memberHeader'>
      <p class="fontsize30">Hi ~ 小食界會員</p>
      <p class="fontsize16">讓我們透過小食，認識異國</p>
    </div>
    <!-- 選單區塊 -->
    <div id='memberDashboard'>
      <!-- 功能選單(搭配Javascript切換) -->
      <%-include  member_dashboard_00_select.ejs %>
      <!-- 功能內容區塊 -->
      <div id='memberDashboardMain'>
        <div id='memberSubscription' class="menberMainBox">
          <!-- 3-4 送出訂單 -->
          <div id='memberSubOrderFinish'>
            <div class="memberOrderFinishImg" ><img src="/images/member_img/order_success.svg" alt=""></div>
            <p class="fontsize24">訂單送出成功</p>
            <a href="http://localhost:3000">返回首頁</a>
          </div>
        </div>
      </div>
    </div>
     
    <script src="/javascripts/member_dashboard.js"></script>
    <script src="/javascripts/member_dashboard_03.js"></script>
 
    <footer><%-include footer.ejs %></footer>
  </body>
  </html>
  