:root{
    --color1: #16264f ;
    --color2: #f2eae3 ;
    --color3: #dfcbba ;
    --color4: #c5724c ;
}

.fontsize30{ font-size: 30px; }
.fontsize24{ font-size: 24px; }
.fontsize16{ font-size: 16px; }
.fontsize10{ font-size: 10px; }
.fontsizeM { font-size: Medium; }
.fontweightB{ font-weight: bold; }

.width660{ width: 660px; }
.width460{ width: 460px; }
.width420{ width: 420px; }
.width300{ width: 300px; }
.width260{ width: 260px; }
.width160{ width: 160px; }
.width150{ width: 150px; }
.width120{ width: 120px; }
.width100{ width: 100px; }
.width80 { width: 80px; }
.width60 { width: 60px; }

.borderradius35-lt{ border-radius: 35px 0px 0px 0px; }
.borderradius35-rt{ border-radius: 0px 35px 0px 0px; }

#memberHeader{
    text-align: center;
    /* margin-top: 20px; */
    top:30px;
    position: relative;
}
#memberDashboard{
    /* height: 1000px; */
    position: relative;
    left: 0px;
    right: 0px;
    margin: 20px auto 100px auto;
    width: 1300px;
    top: 40px;
}

#memberDashboardBar{
    display: flex;
    text-align: center;
    margin-bottom: -10px;
    margin-left: 40px;
}
#memberDashboardBar button{
    background-color: var(--color2);
    color: var(--color1);
    padding: 10px 30px;
    margin: 0 8px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    height: 50px;
}
#memberDashboardBar #memberLab_personalInfo{
    background-color: var(--color1);
    color: white;
    
}



#memberDashboardMain{
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 1300px;
    height: 660px;
    background-color: var(--color3) ;
    border-radius: 40px;
}

.menberMainBox{
    /* display: none; */
    align-items: center;
    min-height: 660px;
    justify-content: space-around;
}

#memberInfo{
    /* display: none; */
    display: flex;
}

.memberIdstyle{
    margin-bottom: 0px;
    margin-left: 20px;
}

#snackTestResult{
    width: 40%;
    height: 580px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#snackTestResultImg{
    background-color: white;
    height: 500px;
    width: 330px;
    border-radius: 35px;
}

#memberPersonalInformation{
    background-color: var(--color2);
    width: 600px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    
}
#memberPersonalInformation form , #memberPersonalInformation button {
    margin: 0 auto;
    left: 0px;
    right: 0px;
}
#memberPersonalInformation form{
    width: 450px;   
}

#memberPersonalInformation button {
    width: 300px;
}
#memberPersonalInformation input[type=text] ,#memberPersonalInformation input[type=radio]{
    margin: 20px;
    background-color: var(--color2);
    border-radius: 5px;
    border: 1px solid var(--color1);
    padding-left:10px;
}

#memberPersonalInformation input[type=text]{
    width: 310px;
}

#memberPersonalInformation input:focus{
    outline:none
}

.memberDashboardBtn , .subPlanSlectBtn{
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 20px;
    border: none;
}

#memberPersonalInformation input[type=submit]{
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 20px;
    border: none;
}

.memberInfoText{
    letter-spacing: 22px;
}

#memberForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#memberShoppingCartCountBox{
    background-color: var(--color2);
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    /* display: none; */
    
}

#discountBox{
    width: 200px;
}

#memberShoppingCartCountBox input{
    background-color: var(--color2);
    border-radius: 5px;
    border: 1px solid var(--color1);
}
#memberShoppingCartCountBox select{
    background-color: var(--color2);
    border-radius: 5px;
    border: none;
}

#memberShoppingCartCountBox input:focus , #memberShoppingCartCountBox select:focus{
    outline:none
}
.memberShoppingCartCountBoxText{
    letter-spacing: 22px;
}
.memberCollectProdAddCaetBtn , .memberShoppingCartDelBtn{
    background: none;
    border: none;
}

#memberShoppingCartPayandDeli{
    display: none;
    /* display: flex; */
    flex-direction: row;
    width: 760px;
}

#membersubPayandDeliBox{
    /* display: flex; */
    display: none;
}
.memberShoppingCartPayandDeliTitle , .membersubPayandDeliTitle{
    text-align: center;
}
.memberShoppingCartPayandDeliMemo , .membersubPayandDeliMemo{
    top: -10px;
    position: inherit;
}
#membersubPayandDeli{
    /* display: none; */
    display: flex;
    flex-direction: row;
    width: 760px;
}

#memberShoppingCartPayment , #memberShoppingCartDelivery{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.menberPaymentOptionRadio{
    position: relative;
    left: 20px;
    top: 57px;
    width: 22px; 
    height: 22px; 
}
.menberPaymentOption{
    width: 320px;
    height: 80px;
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menberPaymentOption p{
    position: relative;
    left: 55px;
    top: 22px;
}

.menberPaymentOption .deliMoney{
    left: -25px;
}

#memberShoppingCartDelivery input[type=radio]:after { 
    content: ""; 
    display:block; 
    width: 22px; 
    height: 22px; 
    border-radius: 50%; 
    text-align: center; 
    font-size: 16px; 
    color: #fff; 
    border: 5px solid var(--color1); 
    background-color: #fff; 
    box-sizing:border-box;
}
#memberShoppingCartDelivery input[type=radio]:checked:after { 
    content: ""; 
    border-color: white; 
    background-color: var(--color1);
    transition: background-color 0.2s ease-in;
} 

#memberShoppingCartDelivery input[type="radio"]:checked+label {
    background-color: var(--color1); 
    color: white;
}

#memberShoppingCartOrderSendBox{
    width: 1000px;
    height: 600px;
    background-color: var(--color2);
    border-radius: 35px;
    display: none;
}

#memberShoppingCartOrderSendBoxTitle{
    text-align: center;
    margin: 20px 0px;
}

#memberShoppingCartOrderSendBoxTitle span{
    margin: 0px 10px;
}

#memberShoppingCartOrderSendBox form{
    width: 800px;
    margin: 0px auto;
}

#memberShoppingCartOrderSendBox form input[type=text]{
    background-color: var(--color2);
    border: none;
    width: 600px;
    height: 50px;
    margin: -20px 30px;
}
#memberShoppingCartOrderSendBox form input[type=checkbox]{
    margin: 0px 10px 0px 0px;
}

#memberSubOrderSendBoxBg{
    position: relative;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    width: 1300px;
    height: 900px;
    background-color: var(--color3) ;
    border-radius: 40px;
    justify-content: center;
    /* display: flex; */
    display: none;
}
#memberSubOrderSendBox{
    /* display: none; */
    width: 1000px;
    height: 850px;
    background-color: var(--color2);
    border-radius: 35px;
    margin-top: 20px;
}

#memberSubOrderSendBoxTitle{
    text-align: center;
    margin: 20px 0px;
}

#memberSubOrderSendBoxTitle span{
    margin: 0px 10px;
}

#memberSubOrderSendBox form{
    width: 800px;
    margin: 0px auto;
}

#memberSubOrderSendBox form input[type=text]{
    background-color: var(--color2);
    border: none;
    width: 600px;
    height: 50px;
    margin: -20px 30px;
}
#memberSubOrderSendBox form input[type=checkbox]{
    margin: 0px 10px 0px 0px;
}



#memberShoppingCartOrderFinish{
    display: none;
    /* display: flex; */
}

#memberSubOrderFinish{
    display: none;
    /* display: flex; */
}

#memberShoppingCartOrderFinish , #memberSubOrderFinish{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memberOrderFinishImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    border-radius: 320px;
    width: 320px;
    min-height: 320px;
    margin-bottom: 20px;
}
.memberOrderFinishImg img{
    width: 250px;
}

#memberSubscription{
    display: none;
}

#memberSubPlanChoose{
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.planstyle{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    color:var(--color1);
}
.planstyle img{
    width: 140px;
}
.planstyle table tr{
    height: 35px;
    text-align: left;
    font-size: 16px;
}
#aStealPlan{
    background-color:var(--color2);
    width:350px;
    height:500px;
}
#enjoyPlan{
    background-color:var(--color4);
    width:400px;
    height:550px;
    color:white;
}
#partyPlan{
    background-color:var(--color2);
    width:350px;
    height:500px;
}

.subPlanSlectBtn{
    width:180px;
}

#memberOrder{
    display: none;
}
#memberOrderList{
    text-align: center;
    border-radius: 35px;
    /* display: none; */
}
#memberOrder tr{
    height: 70px;
    /* border-bottom: 1px solid var(--color1) ; */
}
#memberOrder #memberOrderList tr:nth-child(odd){
    /* height: 70px; */
    background-color: var(--color2);
    /* border-bottom: 1px solid var(--color1) ; */
}

#memberOrder #memberOrderList .memberOrderHeader:nth-child(1){
    border-bottom: 2px solid var(--color1) ;
    background-color: var(--color3);
}

#memberOrderDetail{
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    display: none;
}


#memberOrderListOn{
    height: 500px;
    width: 760px;
}
#memberOrderListOn tr{
    height: 70px;
    border-bottom: 1px solid var(--color1) ;
    text-align: center;
}

#memberOrderDetailTextBox{
    background-color: var(--color2);
    width: 400px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    margin-top: 35px;
    /* display: none; */
    
}
#memberOrder .memberOrderDetailText{
 height: 60px;
}

#memberOrder .memberOrderDetailText td:nth-child(1){
    width: 150px;
}

#memberCollectProd{
    display: none;
    justify-content: center;
    align-items:flex-start;
    }
#memberCollectProdList{
    text-align: center;
}
#memberCollectProd tr{
    height: 70px;
    border-bottom: 1px solid var(--color1) ;
}

#memberCollectProd .memberCollectProdHeader{
    border-bottom: 2px solid var(--color1) ;
}

.memberCollectProdIngandName , .memberShoppingCartProdIngandName{
    display: flex;
    align-items: center;
    text-align: left;
}

.memberCollectProdImg , .memberShopppingCartProdImg{
    width: 85px;
    margin: 10px 10px 10px 50px;
}
.memberShopppingCartProdChoose{
    font-size: 12px;
    color: white;
}


#memberFeedback{
    display: none;
    justify-content: center;
    align-items: center;
}

.feedbackQuestion{
    display: flex;
    margin: 20px 30px 20px 0px;
    justify-content: space-between;
}

.feedbackQuestionSelect{
    margin-left: 200px;
}

.feedbackQuestionSelect input{
    margin: 0px 10px 0px 50px;
}

#feedbackText{
    width: 900px;
    height: 150px;
}

#memberFeedbackSend , #memberOrderSend{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

