
  body {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    line-height: 1.7rem;
    background:#dfcbba;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  .bgBox{
    width: 100%;
    height: 200px;
    background: #f2eae3 ;
    z-index: 100;
    position: absolute;
    top: -100px;
  }
  .snack_test_bg{
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 100px;
  }
  .snack_test_bars{
    width: 15%;
    z-index: 200;
    position: absolute;
    top: -50px;
    right: -25px;
  }
  .snack_test_leaf{
    width: 15%;
    z-index: 200;
    position: absolute;
    top: -100px;
    left: -40px;
  }
  .quiz-container {
    position: relative;
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    width: 50%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 200px;
    border-radius: 20px;
    text-align: center;
    z-index: 1000;
  }
  .title {
    margin-top: 0;
    margin-bottom: 3rem;
    color: #c5724c;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
  }
  .question {
    margin: 2rem 0;
    color: #16264f;
    font-size: 1.5rem;
  }
  .option {
    padding: 1rem;
    color: #00000095;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    transition: all 0.3s;
  }
  .option:hover {
    background: #dfcbba;
  }
  .option input:checked .option {
    background: #08038c;
    color: #000;
  }
  .controls > * {
    margin: 1rem;
  }
  button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
  }
  button.previous {
    background: #c5724c ;
  }
  button.next {
    background: #16264f;
  }
  button.restart {
    background: #16264f;
    color: white;
    font-size: 1rem;
    margin: 1rem;
    transition: all 0.4s;
    padding: 1rem;

  }

  button.restart:hover {
    color: white;
  }
  button.registerBtn{
    background: #c5724c;
    color: white;
    font-size: 1rem;
    margin: 1rem;
    transition: all 0.4s;
    padding: 1rem;
  }
  button.registerBtn:hover {
    color: white;
  }

  button:hover,
  button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }
  .result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    min-height: 100vh;
    position: relative;
    z-index: 1000;
  }
  .final-score {
    color: #00000099;
  }
  .summary {
    font-size: 1rem;
    text-shadow: 1px 1px #ffffff50;
    color: #00000099;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .summary h1 {
    align-self: center;
  }
  .card-style{
    width: 25%;
  }